<div class="btn-group" role="group" aria-label="gender_selection">
<input type="radio" class="btn-check" name="gender" id="male" value="male" autocomplete="off" required="required">
<label class="btn btn-outline-primary" for="male">男生</label>

<input type="radio" class="btn-check" name="gender" id="female" value="female" autocomplete="off" required="required">
<label class="btn btn-outline-primary" for="female">女生</label>

<input type="radio" class="btn-check" name="gender" id="gay"  value="gay" autocomplete="off" required="required">
<label class="btn btn-outline-primary" for="gay">男同性恋</label>

<input type="radio" class="btn-check" name="gender" id="les" value="les" autocomplete="off">
<label class="btn btn-outline-primary" for="les">女同性恋</label>
</div>