<div class="container">
        <header class="d-flex justify-content-center py-3">
          <ul class="nav nav-pills">
            <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">主页</a></li>
            <li class="nav-item"><a href="leave_box.html" class="nav-link">留一个</a></li>
            <li class="nav-item"><a href="get_box.html" class="nav-link">拿一个</a></li>
            <li class="nav-item"><a href="faq.html" class="nav-link">常见问题</a></li>
          </ul>
        </header>
      </div>