{{> navigation}}
<h2>boxes</h2>
{{#if retrieved_data.length}}
  <ul>
    {{#each retrieved_data}}
      <li>{{gender}}, {{content}}, {{picked}}</li>
    {{/each}}
  </ul>
{{else}}
  <p>No humans exist.</p>
{{/if}}