{{!-- <div class="container">
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="index.html" class="nav-link active" aria-current="page">主页</a></li>
        <li class="nav-item"><a href="leave_box.html" class="nav-link">留一个</a></li>
        <li class="nav-item"><a href="get_box.html" class="nav-link">拿一个</a></li>
        <li class="nav-item"><a href="faq.html" class="nav-link">常见问题</a></li>
      </ul>
    </header>
  </div> --}}

{{> navigation}}

<h1>
    我编了一些你可能好奇的问题。	&#128516;
    <br>
    </br>
</h1>
<ul>
    <li>
        <h4>什么是脱单盲盒？</h4>
        <p>脱单盲盒是一种交友方式。 你可以留下一个盲盒里面附上你的联系方式。或者抽一个，获取帅哥美女的联系方式。 </p>

    </li>
    <li>
        <h4>我是同性恋可以使用这个网站吗？</h4>
        <p>当然，任何人都有爱和被爱的权利 &#128157;。 </p>

    </li>
    <li>
        <h4>你是谁？</h4>
        <p> 我是彭张智（华东交通大学计算机系2019级）。 </p>

    </li>
    <li>
        <h4>为什么网站这么丑？</h4>
        <p>我一直秉持着Keep It Simple & Stupid (K.I.S.S)的设计原则（主要是水平有限.. &#128513;）。</p>
    </li>
    <li>
        <h4>我可以提建议吗？</h4>
        <p>十分需要！ 欢迎联系（注明来意）！ </p>
        <ul>
            <li>
                <strong>E-mail</strong>: zhangzhipengcs@foxmail.com
            </li>
            <li>
                <strong> QQ</strong>: 1445939286
            </li>
        </ul>

    </li>
    <li>
        <h4>我可以加入你这个项目吗？</h4>
        <p> 热烈欢迎！！目前为止是我一个人。
            代码会被放在github。 想了解技术细节欢迎联系~</p>
    </li>
    <li>
        <h4>为什么要做这个网站？</h4>
        <p>天下苦单身狗久矣~</p>

    </li>
    <li>
        <h4>我的隐私会泄露吗？</h4>
        <p>
            本人绝不会公开、倒卖你的隐私信息。
            除技术问题，本人绝不会查看你的信息。
        </p>
    </li>
    <li>
        <h4>我还有问题！</h4>
        <p>
            偷偷联系我，然后我会把你的问题发布到这里~
        </p>
    </li>
</ul>
