{{!-- <div class="container">
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="index.html" class="nav-link active" aria-current="page">主页</a></li>
        <li class="nav-item"><a href="leave_box.html" class="nav-link">留一个</a></li>
        <li class="nav-item"><a href="get_box.html" class="nav-link">拿一个</a></li>
        <li class="nav-item"><a href="faq.html" class="nav-link">常见问题</a></li>
      </ul>
    </header>
  </div> --}}

{{> navigation}}

<section class="text-center p-5">
<div class="container-lg ">
    <div class="container">
      <form action="" method="POST">
        <b>你想要抽到？：</b>

        {{>gender_select}}

        <div class=" p-5">
        <input type="submit" class="btn btn-primary btn-lg px-5" value="抽一个">
      </div>
    </form>
    </div>

    
</div>

</section>

