<main>
    <!--  <h1 class="visually-hidden">Headers examples</h1>-->
    
    
    <!--  <div class="b-example-divider"></div>-->

      {{!-- <div class="container">
        <header class="d-flex justify-content-center py-3">
          <ul class="nav nav-pills">
            <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">主页</a></li>
            <li class="nav-item"><a href="leave_box.html" class="nav-link">留一个</a></li>
            <li class="nav-item"><a href="get_box.html" class="nav-link">拿一个</a></li>
            <li class="nav-item"><a href="faq.html" class="nav-link">常见问题</a></li>
          </ul>
        </header>
      </div> --}}

      {{> navigation}}
    
      <h1 class="d-flex justify-content-center" font-weight="bold">脱单盲盒</h1>
      <p> <font color="#ffffff" face="arial">不要犹豫，赶快上当！在交大开启一段甜甜的校园恋爱~</font></p>


    <!--  <form id="button">-->
    <!--    <input type="button" class="button" value="留一个">-->
    <!--    <br>-->
    <!--    <br>-->
    <!--    <input type="button" class="button" value="拿一个">-->
    
    <!--  </form>-->
    
    <nav>
      <ul>
        <li >
          <a href="leave_box.html" >留一个</a>
    
          <span></span><span></span><span></span><span></span>
        </li>
        <li >
          <a href="get_box.html">拿一个</a>
          <span></span><span></span><span></span><span></span>
        </li>
    
    </nav>
    
    </main>
    

<script src="../assets\dist\js\bootstrap.bundle.min.js"></script>
    