<!-- Background image -->
<div class="bg-image" style="
      background-image: ');
      height: 100vh;
    "></div>
<!-- Background image -->


<div >
  

{{> navigation}}

<section class=" text-center justify-content-center">
  <div class="container">
    <div class="shadow-lg m-3 p-1 pt-3  rounded">
      <h1><span class="text-danger fs-10">花椒</span>脱单盲盒</h1>
      <p> <strong>在交大开启一段甜甜的<span class="text-danger fs-4">校园恋爱</span>~</strong></p>
      <p> <a href="ToUser.html">给用户的话。</a></p>
      
    </div>
    
  </div>



</section>
      
<section class=" text-center justify-content-center">
  <div class="container">

<button class="btn btn-primary px-5 my-2 mx-5"><a class="nav-link text-light" href="leave_box.html">留一个</a></button>
<button class="btn btn-primary px-5 my-2 mx-5"><a class="nav-link text-light" href="get_box.html">拿一个</a></button>

</div>
</section>
<p class="text-dark justify-content-center">（我在招募合作者，如果你有好的想法，请立刻联系我！）</p>

{{!-- <nav>
  <ul>
    <li >
      <button class="btn-primary" href="leave_box.html" ></a>

      <span></span><span></span><span></span><span></span>
    </li>
    <li >
      <a href="get_box.html">拿一个</a>
      <span></span><span></span><span></span><span></span>
    </li>

</nav> --}}


<script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

</div>
