{{!-- <div class="container">
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="index.html" class="nav-link active" aria-current="page">主页</a></li>
        <li class="nav-item"><a href="leave_box.html" class="nav-link">留一个</a></li>
        <li class="nav-item"><a href="get_box.html" class="nav-link">拿一个</a></li>
        <li class="nav-item"><a href="faq.html" class="nav-link">常见问题</a></li>
      </ul>
    </header>
  </div> --}}

{{> navigation}}

<div id = "main" class="p-5" align="center">
  <form action="" method="post">
    <div class="form-floating p-2">
      <textarea 
      class="form-control" placeholder="Leave a comment here" 
      autofocus="autofocus" required="required" id="mesage_box" 
      style="height: 100px" value="message" name="message"
      cols="5"></textarea>
      <label for="mesage_box">留下一句话吧~记得附上你的联系方式哦。</label>
    </div>

    <div class="container p-5">
        
        <h5>选择你的性别：</h5>
      {{>gender_select}}
        
      <div class="container h1 pt-5 ">
      <input type="submit" class="btn btn-primary btn-lg px-5" value="提交">
      </div>

      </form>

    </div>
    

    
</div>
