{{> navigation}}

<h1 id='给各位用户的话'>给各位用户的话</h1>
<p>感谢你们用我的产品。谢谢。</p>
<p>我知道各位和我一样都是社恐，不敢大声说话，不敢靠近陌生人。在路上遇到心动的人，都不敢抬头多看一眼，更别说去要联系方式。熟人不好意思下手，生人又不认识。 可能大学都毕业了还是单身狗（没有骂人的意思哈哈）。</p>
<p>也许我们不高，不帅，不白，不美，也许我们是人群最没有存在感的人。但那又怎样。我们有自己的爱好和怪癖。比如跑步或者弹吉他。这些东西都让我们变得有趣、充实。等到有人真正注意到我们时，Ta会发现一个比Ta们想象中更酷的人。</p>
<p>如果你还没等到让你心动的人，再耐心一点！或者主动出击！</p>
<p>在后台中我看到很多朋友留下的盲盒，其中不乏其他取向的朋友。看到你们的勇敢和真诚，感觉自己这段时间的努力值得。 希望各位都遇到自己的Soulmate!</p>
<p>祝好。</p>
<p>																																	彭张智</p>
<p>																																	2020/10/8</p>
